<%= javascript_include_tag 'api', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'api', 'data-turbolinks-track': 'reload' %>
<script>
    $("#scriptManager").addClass("active");
</script>

<div>
    <table id="apiListTable" class="table table-hover  table-bordered" >
        <thead style="background: #f5f5f5;">
            <tr>
            <th>脚本名称<br>Project Name</th>
            <th>脚本执行工具<br>Api Count</th>
            <th>创建者<br>Execute Count</th>
            <th>脚本创建时间<br>Execution Time</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
          <% for _script_list in @_script_list %>
            <tr  class="odd"  id="script_list_<%= _script_list.getScriptId %>">
                  <td>
                    <%= _script_list.getScriptName %>
                  </td>
                  <td>Jmeter</td>
                  <td><%= _script_list.getUserId %></td>
                  <td><%= _script_list.getCreateTime %></td>
                  <td class=" ">
                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                      <a class="green" href="javascript:void(0)" onclick="apiJs.fn.scriptEdit(<%= _script_list.getScriptId %>)">
                        <i class="icon-pencil bigger-130"  style="font-size: 12px;"> 修改</i>
                      </a>
                      <a class="green" href="javascript:void(0)" onclick="apiJs.fn.scriptDel(<%= _script_list.getScriptId %>)">
                        <i class="icon-pencil bigger-130"  style="font-size: 12px;"> 删除</i>
                      </a>
                    </div>
                  </td>
                </tr>
          <% end %>
        </tbody>
    </table>
</div>

<div style=" height: 60px; line-height: 60px; background: #eeeeee;">
    <%= link_to "增加脚本",{:controller => "api",:action => "scriptAdd"},{class:"btn",style:"margin-left: 15px;line-height: 18px;background-color: #438eb9 !important;border-color: #438eb9 !important;color: #fff !important;"}%>
    
    <div style="float: right; margin-right: 15px;">
      <nav aria-label="Page navigation" style="line-height: 60px; height: 60px;">
        <ul class="pagination" style="line-height: 60px; height: 60px;  margin-top: 15px;">
          <li class="disabled">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="disabled"><a href="#">1</a></li>
          <li class="disabled"><a href="#">2</a></li>
          <li class="disabled"><a href="#">3</a></li>
          <li class="disabled"><a href="#">4</a></li>
          <li class="disabled"><a href="#">5</a></li>
          <li class="disabled">
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>

