<%= javascript_include_tag  'member', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'member',  'data-turbolinks-track': 'reload' %>
<script>
    $("#deptManager").addClass("active");
</script>

<div style="min-height:100px;max-height: 800px; overflow: auto;">
    <table id="userListTable" class="table table-hover /*table-striped */ table-bordered" >
    <thead  style="background: #f5f5f5;">
      <tr   id="member_tr_th_style">
        <!--<th  >部门ID</th>-->
        <th  >部门名称</th>
        <th  >上级部门名称</th>
        <th  >最后更新时间</th>
        <th  >操作</th>
      </tr>
    </thead>
    <tbody>
      <% for dept in @deptList %>
        <tr style="line-height: 40px;font-size: 13px;text-align: center;" id="deptLable_<%= dept.getDeptId %>">
                <!--<td><%= dept.getDeptId %></td>-->
                <td><%= dept.getDeptName %></td>
                <td><%= (!dept['dept_pName'].nil?) ? dept['dept_pName'] : "#" %></td>
                <td><%= dept.getUpdateTime %></td>
                <td class=" ">
                  <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                    <a class="green" href="javascript:void()" onclick="alert(1)">
                      <i class="icon-pencil bigger-130"></i> 修改
                    </a>

                    <a class="red" href="javascript:void(0)" onclick="member.fn.deptDel(<%= dept.getDeptId %>)">
                      <i class="icon-trash bigger-130"></i> 删除
                    </a>
                  </div>
                </td>
              </tr>
      <% end %>
      </tbody>
    </table>

</div>


<div style=" height: 60px; line-height: 60px; background: #eeeeee;">
    <%= link_to "增加部门",{:controller => "sysmin",:action => "deptAdd"},{class:"btn",style:"margin-left: 15px;line-height: 18px;background-color: #438eb9 !important;border-color: #438eb9 !important;color: #fff !important;"}%>
    <div style="float: right; margin-right: 15px;">
      <nav aria-label="Page navigation" style="line-height: 60px; height: 60px;">
        <ul class="pagination" style="line-height: 60px; height: 60px;  margin-top: 15px;">
          <li class="disabled">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="disabled"><a href="#">1</a></li>
          <li class="disabled"><a href="#">2</a></li>
          <li class="disabled"><a href="#">3</a></li>
          <li class="disabled"><a href="#">4</a></li>
          <li class="disabled"><a href="#">5</a></li>
          <li class="disabled">
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>