<%= javascript_include_tag 'member', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'member', 'data-turbolinks-track': 'reload' %>
<script>
    $("#userManager").addClass("active");
</script>



  <div id="userAddContent">
    <%= form_tag("userSave",method: "post") do %>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <div class="" style="border:1px solid #e3e1e1">
          <div style="margin-top:20px;"></div>

          <!--<div class="form-group height30px">
            <%= label_tag "项目ID：",nil, class:'col-sm-3 control-label no-padding-right width120px' %>
            <div class="col-sm-9">
              <%= text_field_tag "tft_project_id",nil,class:"col-xs-10 col-sm-5",style:"width:550px",value:"#@next_proj_id",readonly:""%>
            </div>
          </div>-->

          <div class="form-group  height30px">
            <%= label_tag "用户账号：",nil, class:'col-sm-1 control-label', style:"width: 75px;height:30px;line-height:30px;margin-left:60px;padding:0;font-weight:normal;" %>
            <div class="col-sm-9">
              <%= text_field_tag "tft_user_login_id",nil,class:"col-xs-10 col-sm-5",style:"width:300px;height:30px;line-height:30px;" %>
            </div>
          </div>
          <div class="form-group  height30px">
            <%= label_tag "用户密码：",nil, class:'col-sm-1 control-label', style:"width: 75px;height:30px;line-height:30px;margin-left:60px;padding:0;font-weight:normal;" %>
            <div class="col-sm-9">
              <%= text_field_tag "tft_user_login_passwd",nil,class:"col-xs-10 col-sm-5",style:"width:300px;height:30px;line-height:30px;" %>
            </div>
          </div>
          <div class="form-group  height30px">
            <%= label_tag "用户名称：",nil, class:'col-sm-1 control-label', style:"width: 75px;height:30px;line-height:30px;margin-left:60px;padding:0;font-weight:normal;" %>
            <div class="col-sm-9">
              <%= text_field_tag "tft_login_user_name",nil,class:"col-xs-10 col-sm-5",style:"width:300px;height:30px;line-height:30px;" %>
            </div>
          </div>
          <div class="form-group  height30px">
            <%= label_tag "性别：",nil,
                          class:'col-sm-1 control-label no-padding-right width120px', style:"width: 75px;height:30px;line-height:30px;margin-left:60px;padding:0;font-weight:normal;"
            %>
            <div class="col-sm-5 col-xs-10">
              <%= select_tag "st_user_sex_beloog_to",
                             raw(%Q!<option value="">请选择</option><option value="0">女</option><option value="1">男</option>!),
                             class:"form-control",
                             style:"width:300px"
              %>
            </div>
          </div>
          
          <div class="form-group  height30px">
            <%= label_tag "所属部门：",nil,
                          class:'col-sm-1 control-label no-padding-right width120px', style:"width: 75px;height:30px;line-height:30px;margin-left:60px;padding:0;font-weight:normal;"
            %>
            <div class="col-sm-5 col-xs-10">
              <%= select_tag "st_user_dept_beloog_to",
                             raw("<option value="">请选择</option>#{@deptSelectList}"),
                             class:"form-control",
                             style:"width:300px"
              %>
            </div>
          </div>

          <div class="form-group  height30px">
            <%= label_tag "用户角色：",nil,
                          class:'col-sm-1 control-label no-padding-right width120px', style:"width: 75px;height:30px;line-height:30px;margin-left:60px;padding:0;font-weight:normal;"
            %>
            <div class="col-sm-5 col-xs-10">
              <%= select_tag "st_user_role_beloog_to",
                             raw("<option value="">请选择</option>#{@roleSelectList}"),
                             class:"form-control",
                             style:"width:300px"
              %>
            </div>
          </div>

          <div class="form-group  height30px">
            <%= label_tag "联系电话：",nil, class:'col-sm-1 control-label' , style:"width: 75px;height:30px;line-height:30px;margin-left:60px;padding:0;font-weight:normal;" %>
            <div class="col-sm-9">
              <%= text_field_tag "tft_login_user_phone",nil,class:"col-xs-10 col-sm-5",style:"width:300px;height:30px;line-height:30px;" %>
            </div>
          </div>


          <div class="clearfix form-actions height80px " style="    background: #eeeeee;">
            <div class="col-md-offset-3 col-md-9" style="    line-height: 75px; margin-left: 183px;">
              <%= submit_tag "保存",class:"btn btn-primary",style:"width: 90px;" %>
              <%= link_to "取消",{:controller => "sysmin",:action => "user"},{:class=>"btn btn-default",:style=>"width: 90px;"} %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

